body {
    font-family: Arial, sans-serif;
    background-color: #e6e6e6;
    margin: 0 auto 0 auto;
    max-width: 800px;
}

.title {
    text-align: center;
    font-size: 3rem;
}

.link-table {
    tr {
        td:first-child {
            text-align: right;
            padding-right: 1rem;
        }
    }
}

p {
    font-size: 1.1em;
}